{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" style="border-left: 1px solid transparent;">
            {% include "task_navigation.html" %}
            <div class="form-group">
                <h6>{{ form.language.label(class="form-control-label") + ":" }}</h6>
                {% if form.language.errors %}
                    {{ form.language(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.language.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.language(class="form-control ") }}
                {% endif %}
            </div>
            <div class="form-group">
                <h6>{{ form.code.label(class="form-control-label") + ":" }}</h6>
                {% if form.code.errors %}
                    {{ form.code(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.code.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.code(class="form-control") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
{% endblock content %}